* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* body {
    font-size: 100%;
} */


/* header style */

.navbar {
    background: white;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title span {
    font-size: .7rem;
    color: black;
}

.navbar-light .navbar-brand {
    color: black !important;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {
    color: black !important;
}

.navbar-brand {
    font-size: 1.7rem !important;
    padding: 0 10px !important;
    margin: 0 !important;
}

.navbar-nav {
    padding: 10px 10px;
    margin: 0 !important;
}

.navbar-nav a {
    font-weight: 300;
    font-size: small;
}


/* .navbar-expand-lg .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
    justify-content: flex-end;
} */


/* index style */

.home {
    background-image: url(../images/bnhs.jpg);
    background-repeat: no-repeat;
    z-index: -1;
    background-size: cover;
    background-position: center center;
    padding: 100px 30px;
    opacity: .8;
}

.home p {
    color: white;
}


/* admin */

.admin-content {
    width: 100%;
    padding: 10px 20%;
}

.form-wrapper {
    display: flex;
    /* flex-direction: ; */
    align-items: flex-start;
    justify-content: space-between;
    padding: 5px 5px;
}

.form-wrapper span {
    padding: 10px;
    font-weight: bold;
    font-size: smaller;
}

.form-wrapper input,
select {
    display: block;
    border: 1px solid black;
    width: 40%;
    padding: 0;
    font-size: smaller !important;
    margin-top: 10px;
}

.form-wrapper select {
    margin-top: 7px;
}

.admin-content button {
    font-size: smaller;
    background-color: #5374e0;
    color: white;
}

.admin-content .button-container {
    text-align: center;
    width: 100%;
    padding: 20px 20px;
}

.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #5374e0 !important;
    border-color: #5374e0 !important;
}

.list-group-item a {
    text-decoration: none;
    color: black;
    font-size: small;
}

.list-group-item a:hover {
    text-decoration: none;
    color: #5374e0;
    font-size: small;
}


/* Moblie design  */

@media screen and (max-width: 416px) {
    .navbar-brand {
        font-size: 1rem !important;
    }
}